<% layout('@layouts/dashboard') -%>
<% block('links').append([].join('')) %>

<main class="h-full overflow-y-auto">

    <% if(msg){ %>
        <%
            let type = msg.type == 'success' ? 'green' : 'red';
            let cls = 'border py-3 px-6 bg-{type}-100 text-{type}-500 mb-3 border-{type}-300'.replace(
                    /{type}/gi, type);
        %>
        <div class="<%= cls %>">
            <p><%= msg.text %></p>
        </div>
    <% } %>

    <div class="container p-6 ml-4 grid">
        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">

            <div class="col-span-2 mb-6">
                <div class="breadcrumbs">
                    <ul class="steps shadow rounded-lg">
                        <li class="step">
                            <a href="/dashboard" class="link">
                                <i class="las la-home"></i>
                            </a>
                        </li>
                        <li class="step active">
                            <a href="/dashboard/teachers" class="link">
                                Սոց․ մանկավարժաներ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-span-2">
                <h2 class="mb-6 text-2xl font-semibold text-gray-700">
                    Սոցիալական մանկավարժական անձնակազմ
                </h2>
            </div>


            <div class="w-full mt-10 overflow-x-auto">
                <form class="filters mb-10 mx-auto text-center">
                    <div class="relative inline-block w-1/2">
                        <div class="absolute inset-y-0 flex items-center pl-2">
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" fill="#2563eb"
                                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input type="search" value="<%= filters['search'] %>" name="search"
                               class="bg-white pl-8 border w-full  shadow  border-blue-300 focus:outline-none focus:border-blue-500 rounded-lg py-2 placeholder-gray-600 px-3"
                               placeholder="Որոնել ․․․">
                    </div>
                </form>

                <table class="w-full whitespace-no-wrap rounded-md">
                    <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-white uppercase border-b bg-gray-500">
                        <th class="px-4 py-3">Անուն / Ազգանուն</th>
                        <th class="px-4 py-3">Էլ․ հասցե</th>
                        <th class="px-4 py-3">Ֆիզ․ Հասցե</th>
                        <th class="px-4 py-3">Տեսակ</th>
                        <th class="px-4 py-3"></th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

                    <% rows.list.forEach(teacher => { %>
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-cover w-full h-full rounded-full"
                                             src="<%= teacher.avatar && '/st/media' + teacher.avatar %>"/>
                                        <div class="absolute inset-0 rounded-full shadow-inner"></div>
                                    </div>
                                    <div>
                                        <p class="font-semibold"><%= teacher.name && teacher.name.first %></p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-xs">
                                <%= teacher.email || '-' %>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <% if(teacher.type == 'admin'){ %>
                                    <span class="bg-purple-100 border border-purple-200 text-purple-500 p-2 rounded-lg">
                                        <i class="las la-star"></i> Ադմինիստրատոր
                                    </span>
                                <% } else if (teacher.type == 'regular') { %>
                                    <span class="bg-green-100 border border-green-200 text-green-500 p-2 rounded-lg">Սոց․ Մանկավարժ</span>
                                <% } else if (teacher.type == 'spec') { %>
                                    <span class="bg-yellow-100 border border-yellow-200 text-yellow-500 p-2 rounded-lg"><i class="las la-stethoscope"></i> Մասնագետ</span>
                                <% } %>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <%= teacher.address || '-' %>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <a href="/dashboard/teachers/<%= teacher.id %>"
                                   class="cursor-pointer hover:bg-blue-500 font-semibold border border-blue-200 hover:border-blue-500 text-blue-500 hover:text-white p-2 bg-blue-100 rounded-lg">Դիտել
                                    <i class="las la-edit"></i>
                                </a>

                                <a href="/dashboard/teachers/delete/<%= teacher.id %>"
                                   onclick="return confirm('Ցանկանում եք ջնջել <%= teacher.name.first %> -ի հաշիվը?');"
                                   class="cursor-pointer hover:bg-red-500 font-semibold ml-2 border border-red-200 hover:border-red-500 text-red-500 hover:text-white p-2 bg-red-100 rounded-lg">ջնջել
                                    <i class="las la-minus-circle"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>

                    </tbody>
                </table>
            </div>
            <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                <span class="flex items-center col-span-3">
                  Ցուցադրված է <%= (page - 1) * pageLimit + 1 %> - <%= (page - 1) * pageLimit +
                    rows.list.length %>-ը <%= rows.totalCount %> -ից
                </span>
                <span class="col-span-2"></span>
                <!-- Pagination -->
                <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                        <% if(page > 1) { %>
                            <li>
                                <a href="?<%= filters.queryString %>&page=<%= page - 1 %>"
                                   class="px-3 hover:underline py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue">
                                   <i class="las la-angle-left mr-2"></i> Նախորդ
                                </a>
                            </li>
                        <% } %>
                        <% if (rows.totalCount - (page - 1) * pageLimit > pageLimit){ %>
                            <li>
                                <a href="?<%= filters.queryString %>&page=<%= +page + 1 %>"
                                   class="px-3 hover:underline py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-blue">
                                  Հաջրոդ <i class="las la-angle-right ml-2"></i>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                  </nav>
                </span>
            </div>
        </div>
    </div>
</main>
