<% layout('@layouts/dashboard') -%>
<% block('links').append([
    `<link rel="stylesheet" href="/st/lib/charts/charts.min.css" />`,
].join('')) %>
<% block('scripts').append([
    `<script src="/st/lib/charts/charts.min.js"></script>`,
    `<script src="/st/js/dashboard/index.js"></script>`,
].join('')) %>


<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Գլխավոր
        </h2>
        <!-- Cards -->
        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
            <!-- Card -->
            <div class="flex shadow items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="p-3 mr-4">
                    <img src="/st/img/i/students.svg" style="width: 50px;" class="rounded-full bg-red-500 p-2"/>
                </div>
                <div>
                    <p class="mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">
                        Ընդհանուր շահառու
                    </p>
                    <p class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        <%= counts.studentsCount %>
                    </p>
                </div>
            </div>
            <!-- Card -->
            <div class="flex shadow items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="p-3 mr-4">
                    <img src="/st/img/i/teacher.svg" style="width: 50px;" class="rounded-full bg-blue-500 p-2"/>
                </div>
                <div>
                    <p class="mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">
                        Ընդհանուր Ս/Մ
                    </p>
                    <p class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        <%= counts.teachersCount %>
                    </p>
                </div>
            </div>
            <!-- Card -->
            <div class="flex shadow items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="p-3 mr-4">
                    <img src="/st/img/i/student.svg" style="width: 50px;" class="rounded-full bg-yellow-500 p-2"/>
                </div>
                <div>
                    <p class="mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">
                        Ձեձ կիզ շահառուները
                    </p>
                    <p class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        <%= counts.assignedStudentsCount %>
                    </p>
                </div>
            </div>
            <!-- Card -->
            <div class="flex shadow items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="p-3 mr-4">
                    <img src="/st/img/i/story.svg" style="width: 50px;" class="rounded-full bg-green-500 p-2"/>
                </div>
                <div>
                    <p class="mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">
                        Բացված հարցում <br> (ընթացքի մեջ)
                    </p>
                    <p class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        <%= counts.totalRequestsCount %>
                    </p>
                </div>
            </div>
        </div>


        <!-- Charts -->
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Տվյալների գրաֆիկական մոդելավորում
        </h2>
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                    "Մասնագետի օգնության" հայտեր
                </h4>
                <canvas id="pie"></canvas>
                <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
                    <!-- Chart legend -->
                    <div class="flex items-center">
                        <span class="inline-block w-3 h-3 mr-1 bg-blue-500 rounded-full"></span>
                        <span>Հանգուցալուծված հայտեր</span>
                    </div>
                    <div class="flex items-center">
                        <span class="inline-block w-3 h-3 mr-1 bg-red-600 rounded-full"></span>
                        <span>Ընթացքի մեջ</span>
                    </div>
                    <div class="flex items-center">
                        <span class="inline-block w-3 h-3 mr-1 bg-green-600 rounded-full"></span>
                        <span>Իմ հայտերը</span>
                    </div>
                </div>
            </div>
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                    Հայտերի ժամանակագրություն
                </h4>
                <canvas id="line"></canvas>
                <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
                    <!-- Chart legend -->
                    <div class="flex items-center">
                        <span class="inline-block w-3 h-3 mr-1 bg-red-600 rounded-full"></span>
                        <span>Հանգուցալուծված</span>
                    </div>
                    <div class="flex items-center">
                        <span class="inline-block w-3 h-3 mr-1 bg-green-600 rounded-full"></span>
                        <span>Ընթացքի մեջ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script id="pieDataset" type="text/plain"><%- JSON.stringify([
        counts.resolvedRequestsCount,
        counts.totalRequestsCount - counts.resolvedRequestsCount,
        counts.assignedRequestsCount]) %></script>

<script id="lineDataset" type="text/plain"><%- JSON.stringify(
            { resolved: yearlyStatsResolved, open: yearlyStatsOpen }) %></script>
