<% layout('@layouts/dashboard') -%>
<% block('links').append([].join('')) %>

<main class="h-full overflow-y-auto">

    <% if(msg){ %>
        <%
            let type = msg.type == 'success' ? 'green' : 'red';
            let cls = 'border py-3 px-6 bg-{type}-100 text-{type}-500 mb-3 border-{type}-300'.replace(/{type}/gi, type);
        %>
        <div class="<%= cls %>">
            <p><%= msg.text %></p>
        </div>
    <% } %>

    <div class="container p-6 ml-4 grid">
        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">

            <div class="col-span-2 mb-6 flex justify-between items-center">
                <div class="breadcrumbs">
                    <ul class="steps shadow rounded-lg">
                        <li class="step">
                            <a href="/dashboard" class="link">
                                <i class="las la-home"></i>
                            </a>
                        </li>
                        <li class="step active">
                            <a href="/dashboard/requests" class="link">
                                Ընթացիկ հայտեր
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="w-full overflow-x-auto">
                <form class="filters mb-10 mx-auto text-center">
                    <div class="relative inline-block w-1/2">
                        <div class="absolute inset-y-0 flex items-center pl-2">
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" fill="#2563eb"
                                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input type="search" value="<%= filters['search'] %>" name="search"
                               class="bg-white pl-8 border w-full  shadow  border-blue-300 focus:outline-none focus:border-blue-500 rounded-lg py-2 placeholder-gray-600 px-3"
                               placeholder="Որոնել ․․․">
                    </div>
                </form>

                <% if(rows.list.length <= 0){ %>
                    <img src="/st/img/undraw/empty_green.svg" width="250" class="block mx-auto my-6"/>
                    <p class="py-6 text-gray-600 text-center font-semibold">Այս պահին ընթացիկ <u
                                class="text-red-600"><%= spec[auth.spec] %></u> մասնագիտիության համար հայտեր չկան։</p>
                <% } else { %>
                    <% rows.list.forEach(request => { %>
                        <a href="/dashboard/requests/<%= request.id %>"
                           class="shadow block border hover:border-blue-500 hover:bg-blue-50 p-6 mb-6 bg-white rounded-lg">
                            <div class="flex justify-between mb-5">
                                <h4 class="text-xl font-semibold">Անհրաժեշտ
                                    մասնագետ՝ <span
                                            class="text-blue-400"><%= spec[request.professionId] %></span>
                                </h4>
                                <h4 class="text-xl font-semibold">Ուսանող՝ <span
                                            class="text-blue-400"><%= request.student.name.first + ' ' +
                                        request.student.name.last %></span></h4>

                                <% if(request.isOpen){ %>
                                    <b class="text-green-500 bg-green-100 px-3 py-1 rounded-lg pulse relative green">Թափուր
                                        է</b>
                                <% }else { %>
                                    <b class="text-red-500 bg-red-100 px-3 py-1 rounded-lg">փակված է</b>
                                <% } %>
                            </div>
                            <p><%= request.description.slice(0, 300) %> ...</p>

                            <p class="text-right text-gray-400 mt-5">
                                Հրապարակվել է՝ <%= new Intl.DateTimeFormat('am',
                                        { day: '2-digit', year: 'numeric', month: '2-digit' }).format(
                                        new Date(request.dateCreated)); %>
                            </p>
                        </a>
                    <% }) %>

                    <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                <span class="flex items-center col-span-3">
                  Ցուցադրված է <%= (page - 1) * pageLimit + 1 %> - <%= (page - 1) * pageLimit +
                    rows.list.length %>-ը <%= rows.totalCount %> -ից
                </span>
                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                        <% if(page > 1) { %>
                            <li>
                                <a href="?<%= filters.queryString %>&page=<%= page - 1 %>"
                                   class="px-3 hover:underline py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue">
                                   <i class="las la-angle-left mr-2"></i> Նախորդ
                                </a>
                            </li>
                        <% } %>
                        <% if (rows.totalCount - (page - 1) * pageLimit > pageLimit){ %>
                            <li>
                                <a href="?<%= filters.queryString %>&page=<%= +page + 1 %>"
                                   class="px-3 hover:underline py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-blue">
                                  Հաջրոդ <i class="las la-angle-right ml-2"></i>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                  </nav>
                </span>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</main>
