<% layout('@layouts/dashboard') -%>
<% block('links').append([
    `<link rel="stylesheet" href="/st/css/dashboard/settings.css" />`,
].join('')) %>
<% block('scripts').append([
    `<script src="/st/lib/sweetalert/sweetalert.min.js"></script>`,
].join('')) %>

<main class="h-full pb-16 overflow-y-auto">

    <% if(msg){ %>
        <%
            let type = msg.type == 'success' ? 'green' : 'red';
            let cls = 'border py-3 px-6 bg-{type}-100 text-{type}-500 mb-3 border-{type}-300'.replace(/{type}/gi, type);
        %>
        <div class="<%= cls %>">
            <p><%= msg.text %></p>
        </div>
    <% } %>

    <div class="container p-6 max-w-7xl ml-4 grid">
        <div class="col-span-2 mb-6">
            <div class="breadcrumbs">
                <ul class="steps shadow rounded-lg">
                    <li class="step">
                        <a href="/dashboard" class="link">
                            <i class="las la-home"></i>
                        </a>
                    </li>
                    <li class="step">
                        <% if(auth.type == 'spec'){ %>
                            <a href="/dashboard/requests/assigned" class="link">
                                Մասնագետի օգնություն
                            </a>
                        <% }else { %>
                            <a href="/dashboard/requests" class="link">
                                Մասնագետի օգնություն
                            </a>
                        <% } %>
                    </li>
                    <li class="step active">
                        <a href="#" class="link">
                            Հայտ
                        </a>
                    </li>
                </ul>

                <a href="/dashboard/requests/create?studentId=<%= data.student.id %>" class="<%= data.specId == auth.id ? '' : 'opacity-50 cursor-default pointer-events-none' %> float-right px-3 py-1 font-semibold bg-yellow-300 relative border border-yellow-400 rounded-md">
                    Ուղղորդել
                    <i class="las la-paper-plane ml-2"></i>
                </a>

                </button>
            </div>
        </div>

        <% if(data.teacherId == auth.id){ %>
            <form id="updateStoryForm" method="post" class="col-span-2 mb-5 bg-white shadow p-6"
                  action="/dashboard/requests/edit/<%= data.id %>">
                <label class="font-semibold" for="isOpen">Հայտի կարգավիճակը</label>

                <div class="flex justify-between mt-2">
                    <select name="isOpen" id="isOpen" required
                            class="px-2 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <option <%= !data.isOpen ? 'selected' : '' %> value="0">Փակված</option>
                        <option <%= data.isOpen ? 'selected' : '' %> value="1">Ընթացքի մեջ</option>
                    </select>

                    <button class="bg-yellow-400 hover:bg-yellow-500 hover:text-white font-semibold px-3 py-3 text-sm ml-2 rounded-md">
                        Պահպանել
                    </button>
                </div>
            </form>
        <% } %>

        <div class="shadow col-span-2 sm:rounded-md">
            <div class="px-6 py-5 grid grid-cols-4 bg-white">
                <section class="col-span-2">
                    <div class="mt-2">
                        <p class="font-semibold">Փնտրվող մասնագետ՝</p>
                        <p><%= professions[data.professionId] %></p>
                    </div>
                    <div class="mt-2">
                        <p class="font-semibold">Բովանդակություն՝</p>
                        <p><%= data.description %></p>
                    </div>
                </section>

                <section class="col-span-2 pl-6">
                    <div class="mt-2">
                        <p class="font-semibold">Ուսանող՝</p>
                        <div class="flex">
                            <img width="120" height="120" class="rounded-lg object-contain"
                                 src="/st/media/<%= data.student.avatar %>"/>
                            <div class="px-6 w-full">
                                <p class="flex justify-between">
                                    <b>Անուն: </b>
                                    <a href="/dashboard/students/<%= data.student.id %>" class="ml-6 text-blue-500"><%= data.student.name.first %></a>
                                </p>
                                <p class="flex justify-between">
                                    <b>Ազգանուն: </b>
                                    <a href="/dashboard/students/<%= data.student.id %>" class="ml-6 text-blue-500"><%= data.student.name.last %></a>
                                </p>
                                <p class="flex justify-between">
                                    <b>Հասցե: </b>
                                    <p class="text-right ml-6"><%= data.student.address %></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <% if(auth.type == 'spec' && !data.specId){ %>

            <% if(auth.spec == data.professionId){ %>
            <a href="/dashboard/requests/apply?postId=<%= data.id %>&specId=<%= auth.id %>"
               class="bg-blue-500  text-white font-semibold py-2 col-span-2 hover:shadow-lg hover:bg-blue-400 text-center my-6 rounded-lg">
                Դիմել հայտին
                <i class="las float-right mr-6 mt-1 la-paper-plane"></i>
            </a>
            <% } else { %>
                <p class="text-red-500 font-semibold text-center my-5 col-span-2">
                    <i class="las la-ban mr-2"></i> Ձեր որակավորումը չի համապատասխանում անհրաժեշտ մասնագետի պահանջներին:</p>
            <% } %>

            <div class="text-center col-span-2 mt-10">
                <img width="300" class="block mx-auto" src="/st/img/undraw/waiting_for_u_yellow.svg"/>
            </div>
        <% } %>

        <% if(data.spec){ %>
            <div class="overflow-hidden col-span-2 mt-6 px-6 py-5 shadow bg-white">
                <div class="flex justify-between">
                    <div class="leading-tight">
                        <p class="text-lg mb-6">
                            Կից մասնագետ՝ &nbsp;
                            <a class="no-underline hover:underline font-semibold text-yellow-500"
                               href="/dashboard/teachers/<%= data.spec.id %>">
                                <%= data.spec.name.first %>
                                <%= data.spec.name.last %>
                            </a>
                        </p>

                        <p class="mb-6">
                            Մասնագետի աշխատանքը մեկնարկել է՝ <br>
                            <b class="text-black bg-green-300 px-3 inline-block py-1 mt-2 rounded-md">
                                <%= new Intl.DateTimeFormat('am',
                                        { day: '2-digit', year: 'numeric', month: '2-digit' }).format(
                                        new Date(data.specStart)); %>
                            </b>
                        </p>

                        <p class="mb-6">
                            Մասնագետի աշխատանքը ավարտել է՝ <br>
                            <b class="text-black bg-yellow-300 px-3 inline-block py-1 mt-2 rounded-md">
                                <% if(data.specEnd) { %>
                                    <%= new Intl.DateTimeFormat('am',
                                            { day: '2-digit', year: 'numeric', month: '2-digit' }).format(
                                            new Date(data.specEnd)); %>
                                <% }else { %>
                                    Ընթացքի մեջ
                                <% } %>
                            </b>
                        </p>
                    </div>

                    <a href="/dashboard/students/<%= data.spec.id %>">
                        <img alt="Placeholder" class="block h-auto w-full rounded-md"
                             src="<%= data.spec.avatar && '/st/media' + data.spec.avatar %>">
                    </a>
                </div>
            </div>
        <% } %>

        <% if(!data.isOpen){ %>
            <div class="col-span-2 mt-5 mb-6 bg-white text-center shadow px-4 py-4">
                <p class="text-yellow-500 text-xl font-bold">Եզրակացություն / Էպիկրիզ՝ </p>
                <p class="font-semibold mt-6"><%= data.specResult %></p>
            </div>

            <h1 class="text-green-500 font-semibold col-span-2 mt-6 text-center">
                <i class="las la-check-circle"></i> Հայտը հանգուցալուծված է
            </h1>
        <% } %>

        <% if(data.specId == auth.id){ %>
            <div class="shadow mt-5 col-span-2 sm:rounded-md <%= data.isOpen
                    ? ''
                    : 'disabled opacity-50 cursor-not-allowed pointer-events-none' %>">
                <div class="px-4 grid grid-cols-4 bg-white sm:p-6">

                    <div class="col-span-4">
                        <h4 class="font-semibold font-xl">Եզրակացություն / Էպիկրիզ</h4>
                    </div>

                    <div class="col-span-4">
                        <form id="commentForm" method="post" action="/dashboard/requests/close">
                            <div class="mt-4">
                                <input type="hidden" name="postId" value="<%= data.id %>"/>

                                <textarea rows="5" type="text" id="specResult" name="specResult"
                                          placeholder="Եզրակացության մեկնաբանում․․․"
                                          class="mt-1 p-2 bg-gray-100 placeholder-gray-600 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg focus:bg-white focus:placeholder-gray-400"></textarea>

                            </div>
                            <div class="flex mt-4 justify-end">
                                <button type="submit"
                                        class="bg-green-400 hover:bg-green-500 font-semibold rounded-lg border border-green-500 text-white py-2 px-4">
                                    Փակել հայտը <i class="las la-paper-plane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>