<% layout('@layouts/dashboard') -%>
<% block('links').append([
    `<link rel="stylesheet" href="/st/lib/filepond/filepond-plugin-image-preview.css">`,
    `<link rel="stylesheet" href="/st/lib/filepond/filepond.min.css" />`,
    `<link rel="stylesheet" href="/st/css/dashboard/settings.css" />`,
].join('')) %>
<% block('scripts').append([
    `<script src="/st/lib/sweetalert/sweetalert.min.js"></script>`,
    `<script src="/st/lib/filepond/filepond-plugin-image-preview.js"></script>`,
    `<script src="/st/lib/filepond/filepond-plugin-file-validate-type.js"></script>`,
    `<script src="/st/lib/filepond/filepond.min.js"></script>`,
    `<script src="/st/js/dashboard/create-edit-generic.js"></script>`,
].join('')) %>

<main class="h-full pb-16 overflow-y-auto">

    <% if(msg){ %>
        <%
            let type = msg.type == 'success' ? 'green' : 'red';
            let cls = 'border py-3 px-6 bg-{type}-100 text-{type}-500 mb-3 border-{type}-300'.replace(/{type}/gi, type);
        %>
        <div class="<%= cls %>">
            <p><%= msg.text %></p>
        </div>
    <% } %>

    <div class="container p-6 max-w-7xl ml-4 grid">

        <!-- Breadcrumbs -->
        <div class="col-span-2 mb-6">
            <div class="breadcrumbs">
                <ul class="steps shadow rounded-lg">
                    <li class="step">
                        <a href="/dashboard" class="link">
                            <i class="las la-home"></i>
                        </a>
                    </li>
                    <li class="step">
                        <a href="/dashboard/students" class="link">
                            Շահառուներ
                        </a>
                    </li>
                    <li class="step active">
                        <a href="#" class="link">
                            Ստեղծել / Թարմացնել հաշիվը
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Filters -->
        <div class="col-span-2">
            <h2 class="mb-6 text-2xl font-semibold text-gray-700">
                Ստեղծեք շահառուի հաշիվ
            </h2>
        </div>

        <!-- Form -->
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form id="createForm" method="POST">
                <input type="hidden" name="avatar" value="<%= data.avatar %>">

                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-1">
                                <div id="avatarTrigger"
                                     class="p-8 relative rounded-lg cursor-pointer hover:bg-gray-100 text-center border border-gray-300">
                                    <i class="las la-user-circle text-6xl"></i>
                                    <label class="block text-sm font-medium text-gray-700">Նկար</label>

                                    <div class="image-wrapperb w-full <%= data.avatar
                                            ? ''
                                            : 'hidden' %> overflow-hidden absolute z-10 left-0 top-0 h-full bg-black flex items-center justify-center rounded-lg">
                                        <img class="w-full h-full object-contain" src="/st/media/<%= data.avatar %>"/>
                                        <button type="button"
                                                class="dismiss-avatar bg-red-500 hover:bg-red-600 py-1 px-3 rounded-lg absolute text-white font-semibold">
                                            հեռացնել
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-6 sm:col-span-5">
                                <div class="flex">
                                    <div class="flex-1 pl-2">
                                        <label for="firstname"
                                               class="block text-sm font-medium text-gray-700">Անուն</label>
                                        <input type="text" name="firstname" id="firstname" autocomplete="off"
                                               value="<%= data.name && data.name.first %>"
                                               class="mt-1 p-2 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    </div>

                                    <div class="flex-1 pl-2">
                                        <label for="lastname"
                                               class="block text-sm font-medium text-gray-700">Ազգանուն</label>
                                        <input type="text" name="lastname" id="lastname" autocomplete="family-name"
                                               value="<%= data.name && data.name.last %>"
                                               class="mt-1 p-2 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    </div>
                                </div>

                                <div class="mt-6 pl-2">
                                    <label for="address" class="block text-sm font-medium text-gray-700">Հասցե</label>
                                    <input type="text" name="address" id="address"
                                           autocomplete="street-address"
                                           value="<%= data.address %>"
                                           class="mt-1 p-2 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                            </div>

                            <div class="col-span-6">
                                <label for="address" class="block text-sm font-medium text-gray-700">Խնդրի
                                    նկարագիր</label>
                                <textarea type="text" name="problemDescription" id="problemDescription" rows="5"
                                          class="mt-1 p-2 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><%= data.problemDescription %></textarea>
                            </div>

                            <div class="col-span-6 <%= auth.type != 'admin' ? 'opacity-50' : '' %>">
                                <label for="type" class="block text-sm font-medium text-gray-700">Կից սոց․
                                    մանկավարժ</label>
                                <select name="teacherId" id="teacherId" required <%= auth.type != 'admin'
                                        ? 'disabled'
                                        : '' %>
                                        class="mt-1 p-2 border-gray-100 border focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <% teachers.forEach(teacher => { %>
                                        <option value="<%= teacher.id %>" <%= data.teacherId == teacher.id
                                                ? 'selected'
                                                : '' %>><%= teacher.name && teacher.name.first %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit"
                                class="inline-flex mr-2 justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                            Պահպանել <i class="las la-save  text-xl ml-2"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Stories -->
        <% if(data.name){ %>
            <div class="tab-wrapper shadow rounded-md md:col-span-2 mt-10 ">
                <div class="tab-header">
                    <section class="active" data-target="#panel1">
                        <img src="/st/img/i/archive.svg" class="mr-4" width="40"/>
                        Ճգնաժամային իրավիճակներ
                    </section>
                    <section data-target="#panel2">
                        <img src="/st/img/i/clock.svg" class="mr-4" width="40"/>
                        Հայտերի պատմություն
                    </section>
                </div>

                <div class="tab-panel show" id="panel1">
                    <div class="bg-white p-6">
                        <div class="flex justify-between items-center mb-5">
                            <a href="/dashboard/stories/create?studentId=<%= data.id %>"
                               class="bg-white py-2 w-full font-semibold text-center border px-6 focus:outline-none hover:bg-green-100 hover:border-green-300 rounded-lg text-green-600 ">
                                Ավելացնել իրավիճակ
                                <i class="la la-plus float-right ml-2 text-2xl"></i>
                            </a>
                        </div>

                        <% if(!stories.length) { %>
                            <p class="text-gray-400">Դեռևս չկա ավելացված իրավիճակ ․․․</p>
                        <% }else { %>
                            <% stories.forEach(story => { %>
                                <a href="/dashboard/stories/<%= story.id %>"
                                   class="shadow block border hover:border-green-500 p-6 mb-6 bg-white rounded-lg">
                                    <div class="flex justify-between mb-5">
                                        <h4 class="text-2xl font-semibold"><%= story.subject %></h4>
                                        <% if(story.isOpen){ %>
                                            <b class="text-green-500 bg-green-100 px-3 py-1 rounded-lg">Ընթացքի մեջ
                                                է</b>
                                        <% }else { %>
                                            <b class="text-red-500 bg-red-100 px-3 py-1 rounded-lg">փակված է</b>
                                        <% } %>
                                    </div>
                                    <p><%= story.content.slice(0, 300) %> ...</p>
                                </a>
                            <% }) %>
                        <% } %>
                    </div>
                </div>

                <div class="tab-panel" id="panel2">
                    <div class="bg-white p-6">
                        <div class="flex justify-between items-center mb-5">
                            <a href="/dashboard/requests/create?studentId=<%= data.id %>"
                               class="bg-white py-2 w-full font-semibold text-center border px-6 focus:outline-none hover:bg-green-100 hover:border-green-300 rounded-lg text-green-600 ">
                                Ստեղծել հայտ
                                <i class="la la-plus float-right ml-2 text-2xl"></i>
                            </a>
                        </div>

                        <% requests.forEach(request => { %>
                            <a href="/dashboard/requests/<%= request.id %>"
                               class="shadow block hover:border-blue-500 hover:bg-blue-50 p-6 mb-6 bg-white rounded-lg
                                    border-l-8 border">
                                <div class="flex justify-between mb-5">
                                    <h4 class="text-xl font-semibold">Անհրաժեշտ
                                        մասնագետ՝ <span
                                                class="text-blue-400"><%= spec[request.professionId] %></span>
                                    </h4>
                                    <% if(request.isOpen){ %>
                                        <% if(request.specId){ %>
                                            <b class="text-green-500 bg-green-100 px-3 py-1 rounded-lg">Ընթացքի մեջ
                                                է</b>
                                        <% }else { %>
                                            <b class="text-yellow-500 bg-yellow-100 px-3 py-1 rounded-lg">Թափուր է</b>
                                        <% } %>
                                    <% }else { %>
                                        <b class="text-red-500 bg-red-100 px-3 py-1 rounded-lg">փակված է</b>
                                    <% } %>
                                </div>
                                <p><%= request.description.slice(0, 300) %> ...</p>

                                <p class="text-right text-gray-400 mt-5">
                                    Հրապարակվել է՝ <%= new Intl.DateTimeFormat('am',
                                            { day: '2-digit', year: 'numeric', month: '2-digit' }).format(
                                            new Date(request.dateCreated)); %>
                                </p>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="fixed z-50 inset-0 overflow-y-auto hidden" id="uploadModal">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
             role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <div class="mt-5 w-full cursor-pointer" data-init="afterFilepond" style="display: none;">
                        <div class="w-full">
                            <input type="file" class="filepond" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" data-action="confirm"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Հաստատել
                </button>
                <button type="button" data-action="dismiss"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Չեղարկել
                </button>
            </div>
        </div>
    </div>
</div>
